API_URL=http://api:8080

### Database settings
DB_HOST=db
DB_PORT=5432
DB_USERNAME=tierrating
DB_PASSWORD=

### Security settings
SECRET_KEY=
# expiration in minutes
TOKEN_EXPIRATION=60

### Third-party services
SYNC_INTERVAL=0 0 */4 * * *

# Anilist
ANILIST_CLIENT_KEY=
ANILIST_CLIENT_SECRET=
ANILIST_REDIRECT_URL=

# Trakt - needs TMDB for cover images
TRAKT_CLIENT_KEY=
TRAKT_CLIENT_SECRET=
TRAKT_REDIRECT_URL=

TMDB_API_KEY=

# Steam
STEAM_API_KEY=
